<<<<<<< HEAD
<h1 align="center">Add New bill</h1>
=======
<h1 align="center">New bill</h1>
>>>>>>> ffae7ef265ad05d884b471f9aa084ed02c39a043

<%= render 'form' %>
<ul class="pager">
<li><%= link_to 'Back', bills_path %></li>
</ul>
